# **Note:**

# **This notebook is a demo of some spark RDD commands from Ch 11 of Asllani's Big Data Technologies for Business.**

In [8]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/45/b0/9d6860891ab14a39d4bddf80ba26ce51c2f9dc4805e5c6978ac0472c120a/pyspark-3.1.1.tar.gz (212.3MB)
     |████████████████████████████████| 212.3MB 72kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 48.2MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.1-py2.py3-none-any.whl size=212767604 sha256=c956e3b5cba63dceba7e749684f4e645779389565f72646680a6104451bd7a14
  Stored in directory: /root/.cache/pip/wheels/0b/90/c0/01de724414ef122bd05f056541fb6a0ecf47c7ca655f8b3c0f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.1

**Creating SparkSession object**

Spark session objects can be created by using SparkSession.builder.getorCreated(). You also have to specify APP_NAME for your sparkSession that you want to work on.

In [9]:
from pyspark.sql import SparkSession
APP_NAME = "Ch11_RDD_Example"
spark = SparkSession.builder.appName(APP_NAME).getOrCreate()
spark

**Mounting with your google drive**

Mount the notebook to the drive to access the data files that are stored in your google drive.

In [4]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

**Import necessary libararies**

SparkSession is used to create spark dataframe

In [4]:
#from pyspark.sql import SparkSession

Checking the files, that are existing in the path that we want to access.

In [10]:
import os
os.listdir('./gdrive/My Drive/Asllani/ch11_data')

['myBlog.txt',
 'SalesRecords.csv',
 'EmployeePT.tsv',
 'customerFiles.json',
 '.DS_Store',
 'items',
 'items2']

#**Loading Data into RDDs and Saving RDDs to Files**

RDDs have several data sources. RDDs can read data from files in text or other formats. They also can capture data from memory, other RDDs, or DataFrames and Datasets. You can use SparkContext.textFile to read a text file where each line is terminated with a line break.

Load the text file

The commands create an RDD named myBlogRDD with elements that are the rows of the text file myBlog.txt. To show the results of myBlogRDD, use the following print commands

In [11]:
myBlogRDD = spark.sparkContext.textFile('./gdrive/My Drive/Asllani/ch11_data/myBlog.txt')
print(myBlogRDD.collect())

['Big Data techniques offer several advantages over traditional techniques.', 'Hadoop is one Big Data analytics platform.  Hadoop has several ecosystems to perform Big Data Analytics.', 'Spark is one of such ecosystems.  Spark can also run on Hadoop for Big Data Analitycs.']

Using wholeTextFiles syntax, as follows, you map the content of the file into RDD elements, where each element contains the information for one customer

For files with a multiple-line input format, such as JSON or XML, you can use **wholeTextFiles** instead of textFile.

In [7]:
customerRDD = spark.sparkContext.wholeTextFiles('./gdrive/My Drive/Asllani/ch11_data/customerFiles.json')
customerRDD.collect()

[('file:/content/gdrive/My Drive/Asllani/ch11_data/customerFiles.json',
  '{\n"FirstName":"John",\n"LastName":"McDonalds",\n"Phone":"+1(223)-324-1212"\n}\n{\n"FirstName":"Mary",\n"LastName":"Jones",\n"Phone":"+355-69-234653"\n}\n')]

You can also create RDDs from collections, espicially when generating data programmatically. For example the following example can be used to create an array of strings called MyNames.

In [8]:
myNames = ["Frank","Steve","Lisa","Mark"]
myNames

['Frank', 'Steve', 'Lisa', 'Mark']

PySpark **parallelize()** is a function in SparkContext and is used to create an RDD from a list collection.

Then, by using the parallelize command, you can create an RDD that contains the names:

Spark **collect()** and collectAsList() are action operation that is used to retrieve all the elements of the RDD/DataFrame/Dataset (from all nodes) to the driver node.

In [9]:
myNamesRDD = spark.sparkContext.parallelize(myNames)
myNamesRDD.collect()
#myNamesRDD

['Frank', 'Steve', 'Lisa', 'Mark']

You can use the following command to save the myNamesRDD as a text file into the myData directory. The destination directory cannot already exist.

In [11]:
myNamesRDD.saveAsTextFile("./gdrive/My Drive/Asllani/rdd5.txt")

In [12]:
os.listdir('./gdrive/My Drive/Asllani')

['ch10_data',
 'ch11_data',
 'rdd4.txt',
 'ch12_example.py',
 'ch12_data',
 'address_list3',
 'ch10_DF_example.ipynb',
 'ch11_RDD_example.ipynb',
 'rdd5.txt']

#**Transforming Data with RDDs**

Load the data from the salesrecords csv file.

**collect()** is an action operation and returns an arrary of all 

---

elements.

In [13]:
allSalesRDD = spark.sparkContext.textFile("./gdrive/My Drive/Asllani/ch11_data/SalesRecords.csv")
allSalesRDD.collect()

['Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit',
 'Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/10,669165933,6/27/10,9925,255.28,159.42,2533654,1582243.5,951410.5',
 'Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/12,963881480,9/15/12,2804,205.7,117.11,576782.8,328376.44,248406.36',
 'Europe,Russia,Office Supplies,Offline,L,5/2/14,341417157,5/8/14,1779,651.21,524.96,1158502.59,933903.84,224598.75',
 'Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/14,514321792,7/5/14,8102,9.33,6.92,75591.66,56065.84,19525.82',
 'Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/13,115456712,2/6/13,5062,651.21,524.96,3296425.02,2657347.52,639077.5',
 'Australia and Oceania,Solomon Islands,Baby Food,Online,C,2/4/15,547995746,2/21/15,2974,255.28,159.42,759202.72,474115.08,285087.64',
 'Sub-Saharan Africa,Angola,Household,Offline,M,4/23/11,135425221,4/27/11,4187,668.27,502.54,2798046.49,2104134.98,693911.51',
 'Sub-Saharan Africa,Burkina Faso,Vegetables,Online,H,7/17/12,871543967,7/27/12,8082,154.06,90.93,1245112.92,734896.26,510216.66',
 'Sub-Saharan Africa,Republic of the Congo,Personal Care,Offline,M,7/14/15,770463311,8/25/15,6070,81.73,56.67,496101.1,343986.9,152114.2',
 'Sub-Saharan Africa,Senegal,Cereal,Online,H,4/18/14,616607081,5/30/14,6593,205.7,117.11,1356180.1,772106.23,584073.87',
 'Asia,Kyrgyzstan,Vegetables,Online,H,6/24/11,814711606,7/12/11,124,154.06,90.93,19103.44,11275.32,7828.12',
 'Sub-Saharan Africa,Cape Verde,Clothes,Offline,H,8/2/14,939825713,8/19/14,4168,109.28,35.84,455479.04,149381.12,306097.92',
 'Asia,Bangladesh,Clothes,Online,L,1/13/17,187310731,3/1/17,8263,109.28,35.84,902980.64,296145.92,606834.72',
 'Central America and the Caribbean,Honduras,Household,Offline,H,2/8/17,522840487,2/13/17,8974,668.27,502.54,5997054.98,4509793.96,1487261.02',
 'Asia,Mongolia,Personal Care,Offline,C,2/19/14,832401311,2/23/14,4901,81.73,56.67,400558.73,277739.67,122819.06',
 'Europe,Bulgaria,Clothes,Online,M,4/23/12,972292029,6/3/12,1673,109.28,35.84,182825.44,59960.32,122865.12',
 'Asia,Sri Lanka,Cosmetics,Offline,M,11/19/16,419123971,12/18/16,6952,437.2,263.33,3039414.4,1830670.16,1208744.24',
 'Sub-Saharan Africa,Cameroon,Beverages,Offline,C,4/1/15,519820964,4/18/15,5430,47.45,31.79,257653.5,172619.7,85033.8',
 'Asia,Turkmenistan,Household,Offline,L,12/30/10,441619336,1/20/11,3830,668.27,502.54,2559474.1,1924728.2,634745.9',
 'Australia and Oceania,East Timor,Meat,Online,L,7/31/12,322067916,9/11/12,5908,421.89,364.69,2492526.12,2154588.52,337937.6',
 'Europe,Norway,Baby Food,Online,L,5/14/14,819028031,6/28/14,7450,255.28,159.42,1901836,1187679,714157',
 'Europe,Portugal,Baby Food,Online,H,7/31/15,860673511,9/3/15,1273,255.28,159.42,324971.44,202941.66,122029.78',
 'Central America and the Caribbean,Honduras,Snacks,Online,L,6/30/16,795490682,7/26/16,2225,152.58,97.44,339490.5,216804,122686.5',
 'Australia and Oceania,New Zealand,Fruits,Online,H,9/8/14,142278373,10/4/14,2187,9.33,6.92,20404.71,15134.04,5270.67',
 'Europe,Moldova ,Personal Care,Online,L,5/7/16,740147912,5/10/16,5070,81.73,56.67,414371.1,287316.9,127054.2',
 'Europe,France,Cosmetics,Online,H,5/22/17,898523128,6/5/17,1815,437.2,263.33,793518,477943.95,315574.05',
 'Australia and Oceania,Kiribati,Fruits,Online,M,10/13/14,347140347,11/10/14,5398,9.33,6.92,50363.34,37354.16,13009.18',
 'Sub-Saharan Africa,Mali,Fruits,Online,L,5/7/10,686048400,5/10/10,5822,9.33,6.92,54319.26,40288.24,14031.02',
 'Europe,Norway,Beverages,Offline,C,7/18/14,435608613,7/30/14,5124,47.45,31.79,243133.8,162891.96,80241.84',
 'Sub-Saharan Africa,The Gambia,Household,Offline,L,5/26/12,886494815,6/9/12,2370,668.27,502.54,1583799.9,1191019.8,392780.1',
 'Europe,Switzerland,Cosmetics,Offline,M,9/17/12,249693334,10/20/12,8661,437.2,263.33,3786589.2,2280701.13,1505888.07',
 'Sub-Saharan Africa,South Sudan,Personal Care,Offline,C,12/29/13,406502997,1/28/14,2125,81.73,56.67,173676.25,120423.75,53252.5',
 'Australia and Oceania,Australia,Office Supplies,Online,C,10/27/15,158535134,11/25/15,2924,651.21,524.96,1904138.04,1534983.04,369155',
 'Asia,Myanmar,Household,Offline,H,1/16/15,177713572,3/1/15,8250,668.27,502.54,5513227.5,4145955,1367272.5',
 'Sub-Saharan Africa,Djibouti,Snacks,Online,M,2/25/17,756274640,2/25/17,7327,152.58,97.44,1117953.66,713942.88,404010.78',
 'Central America and the Caribbean,Costa Rica,Personal Care,Offline,L,5/8/17,456767165,5/21/17,6409,81.73,56.67,523807.57,363198.03,160609.54',
 'Middle East and North Africa,Syria,Fruits,Online,L,11/22/11,162052476,12/3/11,3784,9.33,6.92,35304.72,26185.28,9119.44',
 'Sub-Saharan Africa,The Gambia,Meat,Online,M,1/14/17,825304400,1/23/17,4767,421.89,364.69,2011149.63,1738477.23,272672.4',
 'Asia,Brunei,Office Supplies,Online,L,4/1/12,320009267,5/8/12,6708,651.21,524.96,4368316.68,3521431.68,846885',
 'Europe,Bulgaria,Office Supplies,Online,M,2/16/12,189965903,2/28/12,3987,651.21,524.96,2596374.27,2093015.52,503358.75',
 'Sub-Saharan Africa,Niger,Personal Care,Online,H,3/11/17,699285638,3/28/17,3015,81.73,56.67,246415.95,170860.05,75555.9',
 'Middle East and North Africa,Azerbaijan,Cosmetics,Online,M,2/6/10,382392299,2/25/10,7234,437.2,263.33,3162704.8,1904929.22,1257775.58',
 'Sub-Saharan Africa,The Gambia,Cereal,Offline,H,6/7/12,994022214,6/8/12,2117,205.7,117.11,435466.9,247921.87,187545.03',
 'Europe,Slovakia,Vegetables,Online,H,10/6/12,759224212,11/10/12,171,154.06,90.93,26344.26,15549.03,10795.23',
 'Asia,Myanmar,Clothes,Online,H,11/14/15,223359620,11/18/15,5930,109.28,35.84,648030.4,212531.2,435499.2',
 'Sub-Saharan Africa,Comoros,Cereal,Offline,H,3/29/16,902102267,4/29/16,962,205.7,117.11,197883.4,112659.82,85223.58',
 'Europe,Iceland,Cosmetics,Online,C,12/31/16,331438481,12/31/16,8867,437.2,263.33,3876652.4,2334947.11,1541705.29',
 'Europe,Switzerland,Personal Care,Online,M,12/23/10,617667090,1/31/11,273,81.73,56.67,22312.29,15470.91,6841.38',
 'Europe,Macedonia,Clothes,Offline,C,10/14/14,787399423,11/14/14,7842,109.28,35.84,856973.76,281057.28,575916.48',
 'Sub-Saharan Africa,Mauritania,Office Supplies,Offline,C,1/11/12,837559306,1/13/12,1266,651.21,524.96,824431.86,664599.36,159832.5',
 'Europe,Albania,Clothes,Online,C,2/2/10,385383069,3/18/10,2269,109.28,35.84,247956.32,81320.96,166635.36',
 'Sub-Saharan Africa,Lesotho,Fruits,Online,L,8/18/13,918419539,9/18/13,9606,9.33,6.92,89623.98,66473.52,23150.46',
 'Middle East and North Africa,Saudi Arabia,Cereal,Online,M,3/25/13,844530045,3/28/13,4063,205.7,117.11,835759.1,475817.93,359941.17',
 'Sub-Saharan Africa,Sierra Leone,Office Supplies,Offline,M,11/26/11,441888415,1/7/12,3457,651.21,524.96,2251232.97,1814786.72,436446.25',
 'Sub-Saharan Africa,Sao Tome and Principe,Fruits,Offline,H,9/17/13,508980977,10/24/13,7637,9.33,6.92,71253.21,52848.04,18405.17',
 "Sub-Saharan Africa,Cote d'Ivoire,Clothes,Online,C,6/8/12,114606559,6/27/12,3482,109.28,35.84,380512.96,124794.88,255718.08",
 'Australia and Oceania,Fiji,Clothes,Offline,C,6/30/10,647876489,8/1/10,9905,109.28,35.84,1082418.4,354995.2,727423.2',
 'Europe,Austria,Cosmetics,Offline,H,2/23/15,868214595,3/2/15,2847,437.2,263.33,1244708.4,749700.51,495007.89',
 'Europe,United Kingdom,Household,Online,L,1/5/12,955357205,2/14/12,282,668.27,502.54,188452.14,141716.28,46735.86',
 'Sub-Saharan Africa,Djibouti,Cosmetics,Offline,H,4/7/14,259353148,4/19/14,7215,437.2,263.33,3154398,1899925.95,1254472.05',
 'Australia and Oceania,Australia,Cereal,Offline,H,6/9/13,450563752,7/2/13,682,205.7,117.11,140287.4,79869.02,60418.38',
 'Europe,San Marino,Baby Food,Online,L,6/26/13,569662845,7/1/13,4750,255.28,159.42,1212580,757245,455335',
 'Sub-Saharan Africa,Cameroon,Office Supplies,Online,M,11/7/11,177636754,11/15/11,5518,651.21,524.96,3593376.78,2896729.28,696647.5',
 'Middle East and North Africa,Libya,Clothes,Offline,H,10/30/10,705784308,11/17/10,6116,109.28,35.84,668356.48,219197.44,449159.04',
 'Central America and the Caribbean,Haiti,Cosmetics,Offline,H,10/13/13,505716836,11/16/13,1705,437.2,263.33,745426,448977.65,296448.35',
 'Sub-Saharan Africa,Rwanda,Cosmetics,Offline,H,10/11/13,699358165,11/25/13,4477,437.2,263.33,1957344.4,1178928.41,778415.99',
 'Sub-Saharan Africa,Gabon,Personal Care,Offline,L,7/8/12,228944623,7/9/12,8656,81.73,56.67,707454.88,490535.52,216919.36',
 'Central America and the Caribbean,Belize,Clothes,Offline,M,7/25/16,807025039,9/7/16,5498,109.28,35.84,600821.44,197048.32,403773.12',
 'Europe,Lithuania,Office Supplies,Offline,H,10/24/10,166460740,11/17/10,8287,651.21,524.96,5396577.27,4350343.52,1046233.75',
 'Sub-Saharan Africa,Madagascar,Clothes,Offline,L,4/25/15,610425555,5/28/15,7342,109.28,35.84,802333.76,263137.28,539196.48',
 'Asia,Turkmenistan,Office Supplies,Online,M,4/23/13,462405812,5/20/13,5010,651.21,524.96,3262562.1,2630049.6,632512.5',
 'Middle East and North Africa,Libya,Fruits,Online,L,8/14/15,816200339,9/30/15,673,9.33,6.92,6279.09,4657.16,1621.93',
 'Sub-Saharan Africa,Democratic Republic of the Congo,Beverages,Online,C,5/26/11,585920464,7/15/11,5741,47.45,31.79,272410.45,182506.39,89904.06',
 'Sub-Saharan Africa,Djibouti,Cereal,Online,H,5/20/17,555990016,6/17/17,8656,205.7,117.11,1780539.2,1013704.16,766835.04',
 'Middle East and North Africa,Pakistan,Cosmetics,Offline,L,7/5/13,231145322,8/16/13,9892,437.2,263.33,4324782.4,2604860.36,1719922.04',
 'North America,Mexico,Household,Offline,C,11/6/14,986435210,12/12/14,6954,668.27,502.54,4647149.58,3494663.16,1152486.42',
 'Australia and Oceania,Federated States of Micronesia,Beverages,Online,C,10/28/14,217221009,11/15/14,9379,47.45,31.79,445033.55,298158.41,146875.14',
 'Asia,Laos,Vegetables,Offline,C,9/15/11,789176547,10/23/11,3732,154.06,90.93,574951.92,339350.76,235601.16',
 'Europe,Monaco,Baby Food,Offline,H,5/29/12,688288152,6/2/12,8614,255.28,159.42,2198981.92,1373243.88,825738.04',
 'Australia and Oceania,Samoa ,Cosmetics,Online,H,7/20/13,670854651,8/7/13,9654,437.2,263.33,4220728.8,2542187.82,1678540.98',
 'Europe,Spain,Household,Offline,L,10/21/12,213487374,11/30/12,4513,668.27,502.54,3015902.51,2267963.02,747939.49',
 'Middle East and North Africa,Lebanon,Clothes,Online,L,9/18/12,663110148,10/8/12,7884,109.28,35.84,861563.52,282562.56,579000.96',
 'Middle East and North Africa,Iran,Cosmetics,Online,H,11/15/16,286959302,12/8/16,6489,437.2,263.33,2836990.8,1708748.37,1128242.43',
 'Sub-Saharan Africa,Zambia,Snacks,Online,L,1/4/11,122583663,1/5/11,4085,152.58,97.44,623289.3,398042.4,225246.9',
 'Sub-Saharan Africa,Kenya,Vegetables,Online,L,3/18/12,827844560,4/7/12,6457,154.06,90.93,994765.42,587135.01,407630.41',
 'North America,Mexico,Personal Care,Offline,L,2/17/12,430915820,3/20/12,6422,81.73,56.67,524870.06,363934.74,160935.32',
 'Sub-Saharan Africa,Sao Tome and Principe,Beverages,Offline,C,1/16/11,180283772,1/21/11,8829,47.45,31.79,418936.05,280673.91,138262.14',
 'Sub-Saharan Africa,The Gambia,Baby Food,Offline,M,2/3/14,494747245,3/20/14,5559,255.28,159.42,1419101.52,886215.78,532885.74',
 'Middle East and North Africa,Kuwait,Fruits,Online,M,4/30/12,513417565,5/18/12,522,9.33,6.92,4870.26,3612.24,1258.02',
 'Europe,Slovenia,Beverages,Offline,C,10/23/16,345718562,11/25/16,4660,47.45,31.79,221117,148141.4,72975.6',
 'Sub-Saharan Africa,Sierra Leone,Office Supplies,Offline,H,12/6/16,621386563,12/14/16,948,651.21,524.96,617347.08,497662.08,119685',
 'Australia and Oceania,Australia,Beverages,Offline,H,7/7/14,240470397,7/11/14,9389,47.45,31.79,445508.05,298476.31,147031.74',
 'Middle East and North Africa,Azerbaijan,Office Supplies,Online,M,6/13/12,423331391,7/24/12,2021,651.21,524.96,1316095.41,1060944.16,255151.25',
 'Europe,Romania,Cosmetics,Online,H,11/26/10,660643374,12/25/10,7910,437.2,263.33,3458252,2082940.3,1375311.7',
 'Central America and the Caribbean,Nicaragua,Beverages,Offline,C,2/8/11,963392674,3/21/11,8156,47.45,31.79,387002.2,259279.24,127722.96',
 'Sub-Saharan Africa,Mali,Clothes,Online,M,7/26/11,512878119,9/3/11,888,109.28,35.84,97040.64,31825.92,65214.72',
 'Asia,Malaysia,Fruits,Offline,L,11/11/11,810711038,12/28/11,6267,9.33,6.92,58471.11,43367.64,15103.47',
 'Sub-Saharan Africa,Sierra Leone,Vegetables,Offline,C,6/1/16,728815257,6/29/16,1485,154.06,90.93,228779.1,135031.05,93748.05',
 'North America,Mexico,Personal Care,Offline,M,7/30/15,559427106,8/8/15,5767,81.73,56.67,471336.91,326815.89,144521.02',
 'Sub-Saharan Africa,Mozambique,Household,Offline,L,2/10/12,665095412,2/15/12,5367,668.27,502.54,3586605.09,2697132.18,889472.91']

Print the first most data from the csv file

In [14]:
allSalesRDD.first()

'Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit'

The following command should generate an integer (Long) with the number of records in the file:

In [15]:
allSalesRDD.count()

101

In [16]:
header = allSalesRDD.first()
salesRDD = allSalesRDD.filter (lambda line: line != header)
salesRDD.count()

100

In [17]:
offlineSalesRDD =salesRDD.filter(lambda line : "Offline" in line)
offlineSalesRDD.count()

50

In [18]:
First5offlineSalesRDD = offlineSalesRDD.take(5)
print(First5offlineSalesRDD)

['Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/10,669165933,6/27/10,9925,255.28,159.42,2533654,1582243.5,951410.5', 'Europe,Russia,Office Supplies,Offline,L,5/2/14,341417157,5/8/14,1779,651.21,524.96,1158502.59,933903.84,224598.75', 'Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/13,115456712,2/6/13,5062,651.21,524.96,3296425.02,2657347.52,639077.5', 'Sub-Saharan Africa,Angola,Household,Offline,M,4/23/11,135425221,4/27/11,4187,668.27,502.54,2798046.49,2104134.98,693911.51', 'Sub-Saharan Africa,Republic of the Congo,Personal Care,Offline,M,7/14/15,770463311,8/25/15,6070,81.73,56.67,496101.1,343986.9,152114.2']

Use map() to covert each line as an element of an array

In [19]:
arraySalesRDD = salesRDD.map (lambda line: line.split(","))
arraySalesRDD.count()

100

In [20]:
First5ArraySalesRDD = arraySalesRDD.take(5)
print(First5ArraySalesRDD)

[['Australia and Oceania', 'Tuvalu', 'Baby Food', 'Offline', 'H', '5/28/10', '669165933', '6/27/10', '9925', '255.28', '159.42', '2533654', '1582243.5', '951410.5'], ['Central America and the Caribbean', 'Grenada', 'Cereal', 'Online', 'C', '8/22/12', '963881480', '9/15/12', '2804', '205.7', '117.11', '576782.8', '328376.44', '248406.36'], ['Europe', 'Russia', 'Office Supplies', 'Offline', 'L', '5/2/14', '341417157', '5/8/14', '1779', '651.21', '524.96', '1158502.59', '933903.84', '224598.75'], ['Sub-Saharan Africa', 'Sao Tome and Principe', 'Fruits', 'Online', 'C', '6/20/14', '514321792', '7/5/14', '8102', '9.33', '6.92', '75591.66', '56065.84', '19525.82'], ['Sub-Saharan Africa', 'Rwanda', 'Office Supplies', 'Offline', 'L', '2/1/13', '115456712', '2/6/13', '5062', '651.21', '524.96', '3296425.02', '2657347.52', '639077.5']]

Create a new RDD that just stores item names, by picking up only the 3rd string that is holding the items

In [21]:
itemsRDD = salesRDD.map(lambda line: line.split(",")[2])
itemsRDD.take(10)

['Baby Food',
 'Cereal',
 'Office Supplies',
 'Fruits',
 'Office Supplies',
 'Baby Food',
 'Household',
 'Vegetables',
 'Personal Care',
 'Cereal']

In [22]:
itemsRDD.saveAsTextFile("./gdrive/My Drive/Asllani/ch11_data/items2")
os.listdir('./gdrive/My Drive/Asllani/ch11_data')

['myBlog.txt',
 'SalesRecords.csv',
 'EmployeePT.tsv',
 'customerFiles.json',
 '.DS_Store',
 'items',
 'items2']

#**Creating a DataFrame from an RDD**

Start by invoking the Spark session and importing several libraries that contain spark.sql functions that are needed to create the DataFrames. You can import the needed functions by using the following commands:

In [23]:
#Import libraries that contain SQL fucntions
from pyspark.sql.types import *

Since RDDs have no previously defined structures, you need to define a schema to transform an RDD into a DataFrame. You will define a schema, called mySchema, that has three arrays: Country of type string, Item also of type string, and Quantity of type long. You can create the schema by using the following commands:

In [30]:
#Define a schema to add to RDD
mySchema = (StructType([StructField("Country", StringType (), True), 
                        StructField("Item", StringType(), True),
                        StructField("Quantity", IntegerType(), True)]))
mySchema

StructType(List(StructField(Country,StringType,true),StructField(Item,StringType,true),StructField(Quantity,IntegerType,true)))

Now create the RDD named allSalesRDD. As shown below, you first read the data  SalesRecords.csv file. After reading the data, you remove the header and proceed only with the rows that contain data. You can do that using the following commands:

In [2]:
allSalesRDD = spark.sparkContext.textFile("./gdrive/My Drive/Asllani/ch11_data/SalesRecords.csv")
header = allSalesRDD.first()
salesRDD = allSalesRDD.filter(lambda line: line != header)

NameError: ignored

In [1]:
allSalesRDD = sc.textFile("./gdrive/My Drive/Asllani/ch11_data/SalesRecords.csv")
header = allSalesRDD.first()
salesRDD = allSalesRDD.filter(lambda line: line != header)

NameError: ignored

Spark map() is a **transformation operation** that is used to apply the transformation on every element of RDD, DataFrame, and Dataset and finally returns a new RDD/Dataset respectively.

Then you apply two map functions: first, you map the line into a set of fields by splitting it at each comma. Second, you map the values of each line to load only the values in the second, third, and ninth fields (values(1), values(2), and values(8), respectively). Since the quantity field is an integer type, you apply the toLong function to store the value as a long integer when using Scala, and parse int when using Python:

In [34]:
customSalesRDD = (salesRDD.map(lambda line: line.split(","))
                          .map(lambda values: [str(values[1]), str(values[2]),int(values[8])]))

In [35]:
customSalesRDD.collect()

[['Tuvalu', 'Baby Food', 9925],
 ['Grenada', 'Cereal', 2804],
 ['Russia', 'Office Supplies', 1779],
 ['Sao Tome and Principe', 'Fruits', 8102],
 ['Rwanda', 'Office Supplies', 5062],
 ['Solomon Islands', 'Baby Food', 2974],
 ['Angola', 'Household', 4187],
 ['Burkina Faso', 'Vegetables', 8082],
 ['Republic of the Congo', 'Personal Care', 6070],
 ['Senegal', 'Cereal', 6593],
 ['Kyrgyzstan', 'Vegetables', 124],
 ['Cape Verde', 'Clothes', 4168],
 ['Bangladesh', 'Clothes', 8263],
 ['Honduras', 'Household', 8974],
 ['Mongolia', 'Personal Care', 4901],
 ['Bulgaria', 'Clothes', 1673],
 ['Sri Lanka', 'Cosmetics', 6952],
 ['Cameroon', 'Beverages', 5430],
 ['Turkmenistan', 'Household', 3830],
 ['East Timor', 'Meat', 5908],
 ['Norway', 'Baby Food', 7450],
 ['Portugal', 'Baby Food', 1273],
 ['Honduras', 'Snacks', 2225],
 ['New Zealand', 'Fruits', 2187],
 ['Moldova ', 'Personal Care', 5070],
 ['France', 'Cosmetics', 1815],
 ['Kiribati', 'Fruits', 5398],
 ['Mali', 'Fruits', 5822],
 ['Norway', 'Beverages', 5124],
 ['The Gambia', 'Household', 2370],
 ['Switzerland', 'Cosmetics', 8661],
 ['South Sudan', 'Personal Care', 2125],
 ['Australia', 'Office Supplies', 2924],
 ['Myanmar', 'Household', 8250],
 ['Djibouti', 'Snacks', 7327],
 ['Costa Rica', 'Personal Care', 6409],
 ['Syria', 'Fruits', 3784],
 ['The Gambia', 'Meat', 4767],
 ['Brunei', 'Office Supplies', 6708],
 ['Bulgaria', 'Office Supplies', 3987],
 ['Niger', 'Personal Care', 3015],
 ['Azerbaijan', 'Cosmetics', 7234],
 ['The Gambia', 'Cereal', 2117],
 ['Slovakia', 'Vegetables', 171],
 ['Myanmar', 'Clothes', 5930],
 ['Comoros', 'Cereal', 962],
 ['Iceland', 'Cosmetics', 8867],
 ['Switzerland', 'Personal Care', 273],
 ['Macedonia', 'Clothes', 7842],
 ['Mauritania', 'Office Supplies', 1266],
 ['Albania', 'Clothes', 2269],
 ['Lesotho', 'Fruits', 9606],
 ['Saudi Arabia', 'Cereal', 4063],
 ['Sierra Leone', 'Office Supplies', 3457],
 ['Sao Tome and Principe', 'Fruits', 7637],
 ["Cote d'Ivoire", 'Clothes', 3482],
 ['Fiji', 'Clothes', 9905],
 ['Austria', 'Cosmetics', 2847],
 ['United Kingdom', 'Household', 282],
 ['Djibouti', 'Cosmetics', 7215],
 ['Australia', 'Cereal', 682],
 ['San Marino', 'Baby Food', 4750],
 ['Cameroon', 'Office Supplies', 5518],
 ['Libya', 'Clothes', 6116],
 ['Haiti', 'Cosmetics', 1705],
 ['Rwanda', 'Cosmetics', 4477],
 ['Gabon', 'Personal Care', 8656],
 ['Belize', 'Clothes', 5498],
 ['Lithuania', 'Office Supplies', 8287],
 ['Madagascar', 'Clothes', 7342],
 ['Turkmenistan', 'Office Supplies', 5010],
 ['Libya', 'Fruits', 673],
 ['Democratic Republic of the Congo', 'Beverages', 5741],
 ['Djibouti', 'Cereal', 8656],
 ['Pakistan', 'Cosmetics', 9892],
 ['Mexico', 'Household', 6954],
 ['Federated States of Micronesia', 'Beverages', 9379],
 ['Laos', 'Vegetables', 3732],
 ['Monaco', 'Baby Food', 8614],
 ['Samoa ', 'Cosmetics', 9654],
 ['Spain', 'Household', 4513],
 ['Lebanon', 'Clothes', 7884],
 ['Iran', 'Cosmetics', 6489],
 ['Zambia', 'Snacks', 4085],
 ['Kenya', 'Vegetables', 6457],
 ['Mexico', 'Personal Care', 6422],
 ['Sao Tome and Principe', 'Beverages', 8829],
 ['The Gambia', 'Baby Food', 5559],
 ['Kuwait', 'Fruits', 522],
 ['Slovenia', 'Beverages', 4660],
 ['Sierra Leone', 'Office Supplies', 948],
 ['Australia', 'Beverages', 9389],
 ['Azerbaijan', 'Office Supplies', 2021],
 ['Romania', 'Cosmetics', 7910],
 ['Nicaragua', 'Beverages', 8156],
 ['Mali', 'Clothes', 888],
 ['Malaysia', 'Fruits', 6267],
 ['Sierra Leone', 'Vegetables', 1485],
 ['Mexico', 'Personal Care', 5767],
 ['Mozambique', 'Household', 5367]]

Now, use the createDataFrame function to transform the RDD into a DataFrame. The function has two input parameters: salesRDD and mySchema. That means the newly created DataFrame named salesDF uses the data recorded in the RDD named salesRDD and stores it using the schema named mySchema.

You can show the first five records of the DataFrame by using the following commands:

In [ ]:
salesDF = spark.createDataFrame(customSalesRDD, mySchema)
salesDF.show(5)

+--------------------+---------------+--------+
|             Country|           Item|Quantity|
+--------------------+---------------+--------+
|              Tuvalu|      Baby Food|    9925|
|             Grenada|         Cereal|    2804|
|              Russia|Office Supplies|    1779|
|Sao Tome and Prin...|         Fruits|    8102|
|              Rwanda|Office Supplies|    5062|
+--------------------+---------------+--------+
only showing top 5 rows

Now you can create an RDD from a DataFrame. The process is straightforward, since the RDDs do have a static schema. The following commands create the RDD from the DataFrame and print the records of the newly created RDD:

In [ ]:
# Create an RDD from a DF
reCreatedSalesRDD = salesDF.rdd
reCreatedSalesRDD.take(5)

[Row(Country='Tuvalu', Item='Baby Food', Quantity=9925),
 Row(Country='Grenada', Item='Cereal', Quantity=2804),
 Row(Country='Russia', Item='Office Supplies', Quantity=1779),
 Row(Country='Sao Tome and Principe', Item='Fruits', Quantity=8102),
 Row(Country='Rwanda', Item='Office Supplies', Quantity=5062)]

#Pair RDDs and MapReduce

A pair RDD is a special RDD in the form of (key, value) pair, which is useful for MapReduce algorithm.

The formatting can be achieved using several functions, such as map, flatMap, flatMapValues, or keyBy. For example, the following commands use the map function to create a pair RDD from a tab-delimited file named EmployeePT.tsv that contains the records id, name, age, and rating

As a result, the pair RDD named empRDD contains the key-value pairs

In [ ]:
empRDD = spark.sparkContext.textFile("./gdrive/My Drive/Asllani/ch11_data/EmployeePT.tsv").map(lambda line: line.split('\t')).map(lambda fields: (str(fields[0]),str(fields[1])))
print(empRDD.collect())

[('01', 'Amanda'), ('02', 'Benjamin'), ('03', 'Chris'), ('04', 'James'), ('05', 'Amanda'), ('06', 'Andy'), ('07', 'Gabriel')]

Assume that you want to create another pair RDD that contains the same key, but the value is a combination of both name and age, separated by a dash. In that case, you would execute the following commands

In [ ]:
empAgeRDD = spark.sparkContext.textFile("./gdrive/My Drive/Asllani/ch11_data/EmployeePT.tsv").map(lambda line: line.split('\t')).map(lambda fields: (str(fields[0]),str(fields[1])+ "-" + str(fields[2])))
print(empAgeRDD.collect())

[('01', 'Amanda-21'), ('02', 'Benjamin-'), ('03', 'Chris-21'), ('04', 'James-24'), ('05', 'Amanda-19'), ('06', 'Andy-23'), ('07', 'Gabriel-24')]

#**WordCount with Pair RDDs**

You want to find the most used words in the myBlog.txt document. To do that, you perform a chain of RDD transformations. Start by reading the document and storing it in the WCreadRDD. Then, check whether the file has been read correctly or not by printing the newly created RDD, as shown here:

In [ ]:
WCread = spark.sparkContext.textFile("./gdrive/My Drive/Asllani/ch11_data/myBlog.txt")
WCread.collect()

['Big Data techniques offer several advantages over traditional techniques.',
 'Hadoop is one Big Data analytics platform.  Hadoop has several ecosystems to perform Big Data Analytics.',
 'Spark is one of such ecosystems.  Spark can also run on Hadoop for Big Data Analitycs.']

The following commands use the flatMap function, which splits each word separated by a single space and creates a new line for it. This RDD transformation creates a new RDD named WCsplit. For demonstration purposes, use take(10) to show only the first ten lines of the new RDD

In [ ]:
#Word count program using RDD
WC = (WCread.flatMap(lambda line: str(line).split(' '))
            .map(lambda word: (word, 1))
            .reduceByKey(lambda v1,v2: v1+v2)
            .sortBy((lambda x: x[1]), False))
WC.collect()

[('Big', 4),
 ('Data', 4),
 ('Hadoop', 3),
 ('several', 2),
 ('is', 2),
 ('', 2),
 ('Spark', 2),
 ('one', 2),
 ('techniques', 1),
 ('advantages', 1),
 ('traditional', 1),
 ('analytics', 1),
 ('platform.', 1),
 ('ecosystems', 1),
 ('perform', 1),
 ('Analytics.', 1),
 ('of', 1),
 ('run', 1),
 ('offer', 1),
 ('over', 1),
 ('techniques.', 1),
 ('has', 1),
 ('to', 1),
 ('such', 1),
 ('ecosystems.', 1),
 ('can', 1),
 ('also', 1),
 ('on', 1),
 ('for', 1),
 ('Analitycs.', 1)]

In [ ]:
WCsplit = WCread.flatMap(lambda line: str(line).split(' '))
WCsplit.take(10)

['Big',
 'Data',
 'techniques',
 'offer',
 'several',
 'advantages',
 'over',
 'traditional',
 'techniques.',
 'Hadoop']

In this step, you can use a map function to transform each line of the RDD into a pair RDD, where the key is the word itself, and the value is the number 1. The new RDD is a pair RDD named WCword, and the result of the take(10)

In [ ]:
WCword = WCsplit.map(lambda word: (word, 1))
WCword.take(10)

[('Big', 1),
 ('Data', 1),
 ('techniques', 1),
 ('offer', 1),
 ('several', 1),
 ('advantages', 1),
 ('over', 1),
 ('traditional', 1),
 ('techniques.', 1),
 ('Hadoop', 1)]

The reduceByKey function in this step searches for identical keys and generates a new key-value element with the same key and with the value equal to the sum of the first two values (v1+v2). This process continues until all identical keys are found, so the new pair RDD named WCreduce contains a list of all words (keys) and their frequency (the sum of all 1s)

In [ ]:
WCreduce = WCword.reduceByKey(lambda v1,v2: v1+v2)
WCreduce.take(10)

[('techniques', 1),
 ('several', 2),
 ('advantages', 1),
 ('traditional', 1),
 ('is', 2),
 ('analytics', 1),
 ('platform.', 1),
 ('', 2),
 ('ecosystems', 1),
 ('perform', 1)]

Finally, in this step, you will apply the sort function to create a new pair RDD named finalResult, which orders the elements of the previous RDD by the value element in the key-value structure. By default, the sort function orders the list in ascending order, so by providing false (or False for Python) as a parameter, the list is sorted in descending order.

In [ ]:
finalResult = WCreduce
finalResult.collect().sortBy((lambda x: x[1]), False)

[('Big', 4),
 ('Data', 4),
 ('Hadoop', 3),
 ('several', 2),
 ('is', 2),
 ('', 2),
 ('Spark', 2),
 ('one', 2),
 ('techniques', 1),
 ('advantages', 1),
 ('traditional', 1),
 ('analytics', 1),
 ('platform.', 1),
 ('ecosystems', 1),
 ('perform', 1),
 ('Analytics.', 1),
 ('of', 1),
 ('run', 1),
 ('offer', 1),
 ('over', 1),
 ('techniques.', 1),
 ('has', 1),
 ('to', 1),
 ('such', 1),
 ('ecosystems.', 1),
 ('can', 1),
 ('also', 1),
 ('on', 1),
 ('for', 1),
 ('Analitycs.', 1)]